@import url('https://fonts.googleapis.com/css2? family= Roboto & display=swap');

.container-grid{
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
     background-color: #000000;
     height: 80px;
}
.logo{
    height: 76px;
}

.banner-login *{
    background-image: url(../img/bannerlogin.jpg);
    background-size: cover;
}
.secao-log{
    display: grid;
    grid-template-columns: auto;
    justify-content: space-between;
    width: 400px;
}
.row h1{
    font-size: 10px;
}